<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  
  {{ partial "head.html" . }}
  
  <body>
    
    <div id="all">
      
      <header>
        
        {{ partial "top.html" . }}
        
        {{ partial "nav.html" . }}
        
      </header>
      
      {{ partial "breadcrumbs.html" . }}
      
      
      
      <div id="content">
        <section class="container section-bg">
          {{ range .Params.week }}
          <div class="row pt-60">
            <div class="col-sm-3 classic-title">
              <div class="stiker">
                <h3 class="inner-stiker text-light">{{ .week | markdownify | emojify }}</h3>
                <div class="incline-div"></div>
              </div>
            </div>
            <div class="col-sm-9 classic-title"><h3 class="outer-stiker">{{ .name | markdownify | emojify }}</h3></div>
          </div>
          
          <div class="row">
            
            {{ if eq .imgside "left" }}
            <div class="col-sm-5">
              {{ if .buttonurl }}<a href="{{ .buttonurl }}">{{end}}<img class="thumbnail img-responsive" width="100%" src="{{ (printf "img/%s" .img) | absURL }}" alt="{{ .imgalttext }}"> {{if .buttonurl}} </a> {{end}}
                      </div>
                        <div class="col-sm-7">
                          {{ with .description }}{{ . | markdownify | emojify }}{{ end }}
                          {{ with .buttonurl }}<a href="{{ . }}" class="btn btn-menu btn-outline-primary">{{end}}{{ with .buttondescr }}{{ . | markdownify | emojify }}{{end}} {{if .buttonurl}}<i class="fa fa-angle-right" alt="right arrow" aria-hidden="true"></i></a>{{end}}
                        </div>
                        {{ end }}
                        {{ if eq .imgside "right" }}
                        <div class="col-sm-7">
                          {{ with .description }}{{ . | markdownify | emojify }}{{ end }}
                          {{ with .buttonurl }}<a href="{{ . }}" class="btn btn-menu btn-outline-primary">{{end}}{{ with .buttondescr }}{{ . | markdownify | emojify }}{{end}} {{ if .buttonurl }}<i class="fa fa-angle-right" aria-hidden="true"></i></a> {{end}}
                        </div>
                        <div class="col-sm-5">
                          {{ if .buttonurl }}<a href="{{ .buttonurl }}">{{end}}<img class="thumbnail img-responsive" width="100%" src="{{ (printf "img/%s" .img) | absURL }}" alt="{{ .imgalttext }}"> {{if .buttonurl}} </a> {{end}}
                        </div>
                        {{ end }}
                      </div>  
                      {{ end }}
                      
                    </section>
                  </div>
                  
                </div>
                
                {{ partial "footer.html" . }}
                <!-- /#all -->
                {{ partial "scripts.html" . }}
                
              </body>
              </html>
