<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "top.html" . }}

          {{ partial "nav.html" . }}

        </header>

        <div id="heading-breadcrumbs">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <h1>{{ .Title }}</h1>
                  </div>
              </div>
          </div>
      </div>
        <div id="content">
          <div class="container">
            <div class="row">
              <!-- *** LEFT COLUMN *** -->

              <div class="col-md-9" id="blog-listing-medium">

                        {{ $paginator := .Paginate (where .Data.Pages "Type" "modules") }}
                        {{ $.Scratch.Set "counter" 1}}
                        {{ range $paginator.Pages }}
                        {{ $relurl := .RelPermalink }}
                        {{ $counter := $.Scratch.Get "counter" }}
                        {{ $.Scratch.Add "counter" 1 }}
                        {{ if ne (mod $counter 2) 0 }}
                        <section class="post">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="image">
                                <a href="{{ .Permalink }}">
                                  {{ if .Params.image }}
                                          <img src="{{ (printf "%s/%s" $relurl .Params.image) | relURL }}" class="img-responsive" alt="">
                                          {{ else }}
                                          <img src="{{ "img/placeholder.png" | relURL }}" class="img-responsive" alt="">
                                          {{ end }}
                                        </a>

                                      </div>
                                      <p class="text-center pt-1"><a href="{{ .Permalink }}" class="btn btn-template-main">{{ i18n "discoverModules" }}</a></p>
                                </div>
                                <div class="col-md-8">
                                  <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                                  <div class="clearfix">
                                    <p class="author-category">
                                      {{ if isset .Params "names" }}
                                      {{ i18n "authorBy" }} <a href="{{.Permalink}}">{{ delimit .Params.names ", " ", & " }}</a>
                                      {{ end }}
                                      {{ if isset .Params "categories" }}
                                      {{ if gt (len .Params.categories) 0 }}
                                      in <a href="{{ "categories/" | relURL }}{{ index .Params.categories 0 | urlize | lower }}">{{ index .Params.categories 0 }}</a>
                                      {{ end }}
                                      {{ end }}

                                    </p>
                                    {{ if isset .Params "date" }}
                                        <p class="date-comments">
                                          <a href="{{ .Permalink }}"><i class="far fa-calendar"></i> {{ .Date.Format .Site.Params.date_format }}</a>
                                        </p>
                                        {{ end }}
                                    </div>
                                    <p class="intro"><a href="{{ .Permalink }}">{{ .Summary | markdownify | emojify  }}</a></p>
                                    <div class="panel sidebar-menu">
                                      <div class="panel-body">
                                          <ul class="tag-cloud">
                                              {{ $current := . }}
                                              {{ range $name := .Params.tags }}
                                              <li{{ if eq $current.RelPermalink ($name | urlize | lower | printf "/tags/%s/") }} class="active"{{ end }}>
                                                  <a href="{{ "tags/" | relURL }}{{ $name | urlize | lower }}"><i class="fas fa-tags"></i> {{ $name }}</a>
                                              </li>
                                              {{ end }}
                                          </ul>

                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </section>

                                {{else}}
                                <section class="post">
                                  <div class="row">
                                    <div class="col-md-8">
                                      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                                <div class="clearfix">
                                      <p class="author-category">
                                        {{ if isset .Params "names" }}
                                        {{ i18n "authorBy" }} <a href="{{.Permalink}}">{{ delimit .Params.names ", " ", & " }}</a>
                                        {{ end }}
                                        {{ if isset .Params "categories" }}
                                        {{ if gt (len .Params.categories) 0 }}
                                        in <a href="{{ "categories/" | relURL }}{{ index .Params.categories 0 | urlize | lower }}">{{ index .Params.categories 0 }}</a>
                                        {{ end }}
                                        {{ end }}

                                      </p>
                                      {{ if isset .Params "date" }}
                                      <p class="date-comments">
                                        <a href="{{ .Permalink }}"><i class="far fa-calendar"></i> {{ .Date.Format .Site.Params.date_format }}</a>
                                      </p>
                                      {{ end }}
                                    </div>
                                    <p class="intro"><a href="{{ .Permalink }}">{{ .Summary | markdownify | emojify  }}</a></p>
                                    <div class="panel sidebar-menu">
                                      <div class="panel-body">
                                          <ul class="tag-cloud">
                                              {{ $current := . }}
                                              {{ range $name := .Params.tags }}
                                              <li{{ if eq $current.RelPermalink ($name | urlize | lower | printf "/tags/%s/") }} class="active"{{ end }}>
                                                  <a href="{{ "tags/" | relURL }}{{ $name | urlize | lower }}"><i class="fas fa-tags"></i> {{ $name }}</a>
                                              </li>
                                              {{ end }}
                                          </ul>
                                        </div>
                                    </div>

                                  </div>
                                  <div class="col-md-4">
                                    <div class="image">
                                      <a href="{{ .Permalink }}">
                                        {{ if .Params.image }}
                                        <img src="{{ (printf "%s/%s" $relurl .Params.image) | relURL }}" class="img-responsive" alt="">
                                        {{ else }}
                                        <img src="{{ "img/placeholder.png" | relURL }}" class="img-responsive" alt="">
                                        {{ end }}
                                      </a>

                                    </div>
                                    <p class="text-center pt-1"><a href="{{ .Permalink }}" class="btn btn-template-main">{{ i18n "discoverModules" }}</a></p>
                                  </div>
                                </div>
                          </section>

                            {{end}}
                        {{ end }}

                        <ul class="pager">
                          {{ if .Paginator.HasPrev }}
                          <li class="previous"><a href="{{ .Paginator.Prev.URL | relURL }}">&larr; {{ i18n "newer" }}</a></li>
                          {{ else }}
                          <li class="previous disabled"><a href="#">&larr; {{ i18n "newer" }}</a></li>
                          {{ end }}

                          {{ if .Paginator.HasNext }}
                          <li class="next"><a href="{{ .Paginator.Next.URL | relURL }}">{{ i18n "older" }} &rarr;</a></li>
                          {{ else }}
                          <li class="next disabled"><a href="#">{{ i18n "older" }} &rarr;</a></li>
                          {{ end }}
                        </ul>
                      </div>
                      <!-- /.col-md-9 -->

                      <!-- *** LEFT COLUMN END *** -->

                      <!-- *** RIGHT COLUMN ***
                        _________________________________________________________ -->

                        <div class="col-md-3">

                          <!-- *** MENUS AND WIDGETS *** -->

                          {{ partial "sidebar_modules.html" . }}

                          <!-- *** MENUS AND FILTERS END *** -->

                        </div>
                        <!-- /.col-md-3 -->

                        <!-- *** RIGHT COLUMN END *** -->

                      </div>
                      <!-- /.row -->
                    </div>
                    <!-- /.container -->
                  </div>
                  <!-- /#content -->


    </div>
    {{ partial "footer.html" . }}
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
