<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

      <header>

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

      </header>

      {{ partial "breadcrumbs.html" . }}
      {{$relurl := .Permalink}}
      <div id="content">
        <div class="container">
          <div class="row">
            {{ if .Params.image }}
            <div class="col-md-6 post-title">
                    <h1>{{.Title}}</h1>
                    <p class="author">
                      {{ if or .Params.names .Params.date }}
                      <p class="text-muted text-uppercase mb-small text-left">
                        {{ if .Params.names }}{{ i18n "authorBy" }} <a href="#">{{ delimit .Params.names ", " ", & " }}</a>{{ end }}
                        <br>
                        {{ if .Params.date }} Published on {{ .Date.Format .Site.Params.date_format }}{{ end }}
                        <span class="article-date">
                          {{ $date := .Lastmod.Format site.Params.date_format }}
                            {{ if ne .Params.Lastmod .Params.Date }}
                               | {{ i18n "last_updated" }}
                            {{ end }}
                          {{ $date }}
                        </span>
                      </p>
                      {{ end }}<span class="text-muted text-italic">"{{ .Summary | markdownify | emojify }}"</span></p>
                      <div class="panel sidebar-menu">
                        <div class="panel-body">
                          <ul class="tag-cloud">
                            {{ $gh := .Params.github_repo}}
                            <li class="active">
                            <a href="{{ $gh }}"><i class="fab fa-github"></i>Github repo</a>
                            </li>
                            {{ with .Params.website }}
                            <li class="active">
                              <a href="{{ . }}"><i class="fas fa-globe"></i>Project Website</a>
                              </li>
                            {{end}}
                            {{ $current := . }}
                            {{ range $name := .Params.tags }}
                              <li{{ if eq $current.RelPermalink ($name | urlize | lower | printf "/tags/%s/") }} class="active"{{ end }}>
                                  <a href="{{ "tags/" | relURL }}{{ $name | urlize | lower }}"><i class="fas fa-tags"></i> {{ $name }}</a>
                              </li>
                              {{ end }}
                          </ul>
                          {{/*  <p class="read-more pull-left"><a href="{{ .Permalink }}" class="btn btn-template-main">{{ i18n "continueReading" }}</a></p>  */}}
                        </div>
                    </div>

                  </div>
                <div class="col-md-6 col-md-offset-0 post-body">
                  <figure>
                    <img class="img-responsive" src="{{ (printf "%s/%s" $relurl .Params.image) | relURL }}" />
                  </figure>
                </div>
                  {{else}}
                  <div class="col-md-12 post-title">
                    <h1>{{.Title}}</h1>
                    <p class="author">
                      {{ if or .Params.names .Params.date }}
                      <p class="text-muted text-uppercase mb-small text-left">
                        {{ if .Params.names }}{{ i18n "authorBy" }} <a href="#">{{ delimit .Params.names ", " ", & " }}</a>{{ end }}
                        <br>
                        {{ if .Params.date }} Published on {{ .Date.Format .Site.Params.date_format }}{{ end }}
                        <span class="article-date">
                          {{ $date := .Lastmod.Format site.Params.date_format }}
                            {{ if ne .Params.Lastmod .Params.Date }}
                               | {{ i18n "last_updated" }}
                            {{ end }}
                          {{ $date }}
                        </span>
                      </p>
                      {{ end }}<span class="text-muted text-italic">"{{ .Summary | markdownify | emojify }}"</span></p>
                      <div class="panel sidebar-menu">
                        <div class="panel-body">
                          <ul class="tag-cloud">
                            {{ $gh := .Params.github_repo}}
                            <li class="active">
                            <a href="{{ $gh }}"><i class="fab fa-github"></i>Github repo</a>
                            </li>
                            {{ with .Params.website }}
                            <li class="active">
                              <a href="{{ . }}"><i class="fas fa-globe"></i>Project Website</a>
                              </li>
                            {{end}}
                            {{ $current := . }}
                            {{ range $name := .Params.tags }}
                              <li{{ if eq $current.RelPermalink ($name | urlize | lower | printf "/tags/%s/") }} class="active"{{ end }}>
                                  <a href="{{ "tags/" | relURL }}{{ $name | urlize | lower }}"><i class="fas fa-tags"></i> {{ $name }}</a>
                              </li>
                              {{ end }}
                          </ul>
                          {{/*  <p class="read-more pull-left"><a href="{{ .Permalink }}" class="btn btn-template-main">{{ i18n "continueReading" }}</a></p>  */}}
                        </div>
                    </div>

                  </div>
                  {{ end }}
            </div>
                <div class="row ">

                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-md-10 col-md-offset-1" id="blog-post">

                       <div id="post-content">
                        {{ .Content | emojify }}
                      </div>
                      <!-- /#post-content -->

                  </div>
                  <!-- /#blog-post -->

                </div>
                <!-- /.row -->



                {{ if eq .Type "module" }}
                <ul class="pager blog-pager">
                  {{ if .PrevInSection }}
                  <li class="previous">
                    <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&larr; {{ i18n "previous" }}</a>
                  </li>
                  {{ end }}
                  {{ if .NextInSection }}
                  <li class="next">
                    <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">{{ i18n "next" }} &rarr;</a>
                  </li>
                  {{ end }}
                </ul>
            {{ end }}



          </article>

        </div>
        <!-- /.container -->
      </div>
      <!-- /#content -->

      {{ partial "footer.html" . }}


    <!-- /#all -->
  </div>

    {{ partial "scripts.html" . }}

  </body>
</html>
