/* Add custom css here */

.center-col {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

.pt-60 {
  padding-top: 60px;
}

/* Added for the title in Schedule (CSS taken from BHS2019 site) */
.classic-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 30px;
  position: relative;
}

.stiker {
    display: inline-block;
  }
  
.outer-stiker {
      display: inline-block;
      color: #474747;
    }
.outer-stiker, .inner-stiker {
    font-weight: 300;
    z-index: 2;
    position: relative;
  }


.incline-div {
    position: absolute;
    top: 3px;
    left: 0;
    border-top: 60px solid #6aae7a;
    border-right: 60px solid transparent;
    margin-left: -15px;
    width: 100%;
    z-index: 1;
}

.text-light {
  color: 
  #fff;
}

.agenda {  }

/* Dates */
.agenda .agenda-date { width: 170px; }
.agenda .agenda-date .dayofmonth {
  width: 40px;
  font-size: 36px;
  line-height: 36px;
  float: left;
  text-align: right;
  margin-right: 10px; 
}
.agenda .agenda-date .shortdate {
  font-size: 0.75em; 
}


/* Times */
.agenda .agenda-time { width: 140px;
text-align: center;
 } 


/* Events */
.agenda .agenda-events .event-title { 
  font-size: 2rem
} 

.agenda .agenda-events .agenda-event {
  
  } 

@media (max-width: 767px) {
    
}