
{{ if isset .Site.Params "instructors" }}
{{ if .Site.Params.instructors.enable }}
{{ $myData := (index .Site.Data .Lang) }}
{{ if $myData }}
{{ if (isset $myData "carousel" ) }}
{{ if gt (len $myData.instructors) 0 }}
<section class="bar background-white">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="heading text-center">
                    <h2>{{ $myData.instructors.title }} </h2>
                </div>
            </div>
        </div>
        <div class="row">     
            <div class="col">
            
                {{ $element := $myData.instructors.instructors }} {{ "" | safeHTML }}
                
                <div class="row">
            
                    {{ $.Scratch.Set "counter" 0 }}
                    {{ range $element }}
            
                    <div class="col-md-4">
                
                        {{$.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
                        
                        <div class="box-simple">
                            <a href="{{ .website }}">
                                <div class="instructor">
                                    {{/* Conditional to take picture from static/instructors/pic.jpg if .img is specified in data/instructors.yml else grabs the picture directly from GH profile. */}}
                                <img class="instructor-img" src="{{ if .img }}{{ .img | absURL }}{{ else }}https://avatars.githubusercontent.com/{{ .gh }} {{end }} " alt="{{ .name }}"></img>
                                </div>
                            </a>
                        <h3>{{ .name | markdownify }}</h3>
                        <a href={{.urlaff}}><p>{{ .affiliation | markdownify }}</p></a>
                        <ul class="social list-inline">
                            <li class="list-inline-item"><a href="https://github.com/{{.gh}}" class="external"><i class="fa fa-github"></i></a></li>
                            <li class="list-inline-item"><a href="https://twitter.com/{{.twitter}}" class="external"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="{{.website}}" class="external"><i class="fas fa-globe"></i></a></li>
                            <li class="list-inline-item"><a href="mailto:{{.email}}" class="email"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
    </section>
    {{ end }}
    {{ end }}
    {{ end }}
    {{ end }}
    {{ end }}

