{{ $myData := (index .Site.Data "en") }}

{{ $agenda := $myData.schedule }} {{ "" | safeHTML }}
{{ $scratch := newScratch }}
{{ $scratch.Set "data-content" 0 }}

{{/*  {{ $intervalleft := now}}  */}}

    <div class="container">
        
        <h2>{{$agenda.agenda_title | markdownify | emojify }}</h2>
        <p class="lead">
            {{$agenda.agenda_subtitle | markdownify | emojify }}
        </p>
        
        <div class="agenda">
            <div class="table-responsive">
                <table class="table table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">DATE</th>
                            <th class="text-center">TIME</th>
                            <th class="text-center">EVENT</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <!-- Single event in a single day for Week 0 -->
                        {{ range $agenda.schedule }}
                                <tr><td colspan="3" class="bg-success text-center">
                                 {{ .week }} - {{ .title | markdownify | emojify }}
                                </td>
                                </tr>
                        {{ range .days }}
                        {{ $date := (time .date) }}
                        {{ $day := $date.Format "2"}}
                        {{ $month := $date.Format "January, 2006"}}
                        {{ $weekday := $date.Format "Monday"}}
                        {{ $len := (len .sessions) }}
                        <tr>
                            <td class="agenda-date" class="active" rowspan="{{ $len }}">
                                <div class="dayofmonth">{{ $day }}</div>
                                <div class="dayofweek">{{ $weekday }}</div>
                                <div class="shortdate text-muted">{{ $month }}</div>
                            </td>

                            {{/*  {{ $sessions := sort ".start_date" "asec"}}  */}}
                            {{range $index, $element := (sort .sessions  ".dateStart" "asec") }}
                            {{ $start := (time .dateStart)}}
                            {{ $starttime := $start.Format "15:04"}}
                            {{ $day := $start.Format "2"}}
                            {{ $month := $start.Format "January, 2006"}}
                            {{ $weekday := $start.Format "Monday"}}
                            {{ $end := (time .dateEnd)}} 
                            {{ $endtime := $end.Format "15:04"}}
                            {{/*  {{ if and ($end.After ($intervalleft.AddDate 0 0 -2)) ($end.Before ($intervalleft.AddDate 1 0 0))}}  */}}
                            
                            {{if ne $index 1 }}
                            <td class="agenda-time">
                                {{ $starttime }} - {{ $endtime }}
                            </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <p class="event-title"> 
                                {{ .title}}</p>
                            </div>
                            <div class="text-muted"> {{ .description | markdownify | emojify }}</div>
                            <div class="pt-1">{{ with .materials }} Materials: {{ . | markdownify | emojify }} {{end}} {{with .video }} — Video: {{ . | markdownify | emojify }}{{ end }} </div>

                        </td>
                    </tr>  
                    {{else}} 
                    <tr>
                        <td class="agenda-time">
                            {{ $starttime }} - {{ $endtime }}
                        </td>
                    <td class="agenda-events">
                        <div class="agenda-event">
                            <p class="event-title"></i> 
                            {{ .title}}</p>
                        </div>
                        <div class="text-muted pb-1"> {{ .description | markdownify | emojify }}</div>
                        <div class="">{{ with .materials }} Materials: {{ . | markdownify | emojify }} {{end}} {{with .video }} — Video: {{ . | markdownify | emojify }}{{ end }} </div>
                    </td>
                    </tr>
 
                    {{ end }}
                    {{ end }}
                 
                    {{end}}
                    {{end}}
                    <!-- Multiple events in a single day (note the rowspan) -->
                 
                </tbody>
            </table>
        </div>
    </div>
</div>



{{/*  
{{ $session := $myData.schedule.week1.monday }}
{{ range $session }}
{{ $ses := .session }}
{{ $start := time $ses.start }}
{{ $beautifulstart := $start.Format "15:04"}}
{{ $end := time $ses.end}} 
{{ $beautifulend := $end.Format "15:04" }}  */}}
