
{{ $sites:= (where .Site.RegularPages "Section" "==" "sites") }}
{{ $authors := .Site.Taxonomies.names }}

<div class="panel sidebar-menu">

    <div class="panel-heading">
        <h3 class="panel-title">For participants:</h3>
        <p class="pt-1">{{ T "SidebarSubSites" | markdownify }}</p>
    </div>
</div>

<div class="panel sidebar-menu">
    <div class="panel-heading">
        <h3 class="panel-title">Some statistics</h3>
        <p class="pt-1"><i class="fas fa-chart-bar"></i> {{ len $sites }} sites are welcoming participants.</p>
    </div>
</div>
