
{{ $projects:= (where .Site.RegularPages "Section" "==" "project") }}
{{ $authors := .Site.Taxonomies.names }}

<div class="panel sidebar-menu">

    <div class="panel-heading">
        <h3 class="panel-title">For participants:</h3>
        <p class="pt-1">{{ T "SidebarSub" | markdownify }}</p>
    </div>
</div>

<div class="panel sidebar-menu">

    <div class="panel-heading">
        <h3 class="panel-title">Some statistics</h3>
        <p class="pt-1"><i class="fas fa-chart-bar"></i> {{ len $projects }} projects are currently displayed.</p>
        <p class="pt-1"><i class="fas fa-chart-bar"></i> {{ len $authors }} participants have uploaded their projects.</p>
    </div>
</div>
{{ partial "widgets/categories.html" . }}

{{ partial "widgets/tags.html" . }}