
{{ $projects:= (where .Site.RegularPages "Section" "==" "project") }}
{{ $taxonomy := len .Site.Taxonomies }}
<div class="panel sidebar-menu">

    <div class="panel-heading">
        <h3 class="panel-title">For participants:</h3>
        <p class="pt-1">{{ T "SidebarSub" | markdownify }} </p>
    </div>
</div>

<div class="panel sidebar-menu">

    <div class="panel-heading">
        <h3 class="panel-title">Some statistics</h3>
        <p class="pt-1">{{ len $projects }} projects are currently displayed.</p>
        <p class="pt-1">{{ $taxonomy }} participants have been collaborating on projects.</p>    
        {{ range .Site.Taxonomies }} {{.}} {{end}}lol
    </div>
</div>
{{ partial "widgets/categories.html" . }}

{{ partial "widgets/tags.html" . }}
