{{ if .Site.Params.topbar.enable }}
<div id="top" style="background-color: #524b4b;">
  <div class="container">
    <div class="row">
      <div class="col-xs-10">
        {{ .Site.Params.topbar.text | markdownify | emojify }}
      </div>
      <div class="col-xs-2">
        <div class="social">
          {{ range .Site.Menus.topbar.ByWeight }}
          <a href="{{ .URL }}" target="_blank" style="opacity: 1;">{{ .Pre }}</a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
