<ul class="nav nav-tabs" role="tablist">

    {{ $tabTotal := .Get "tabTotal" }}
    {{ range $i, $sequence := (seq $tabTotal) }}

    {{ $tabID := $.Get "tabID" }}
    {{ $tabName := (print "tabName" $sequence) }}
    {{ $tabHREF := (print "tab" $tabID $sequence) }}

    {{ if eq $sequence 1 }}

    <li class="active nav-item">
        <a id="nav-{{ $tabID }}-{{ $sequence }}" data-toggle="tab" href="#{{ $tabHREF | urlize }}" role="tab">
            {{ $.Get $tabName }}
        </a>
    </li>

    {{ else }}

    <li class="nav-item">
        <a id="nav-{{ $tabID }}-{{ $sequence }}" data-toggle="tab" href="#{{ $tabHREF | urlize }}" role="tab">
            {{ $.Get $tabName }}
        </a>
    </li>

    {{ end }}
    {{ end }}

</ul>

<div class="tab-content">
    {{ .Inner }}
</div>
